.descripciones {
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .product-box:hover .descripciones {
    opacity: 1; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
  }
  
  /* Estilos para rotar el ícono del camión en hover */
  .shipping-icon i {
    transition: transform 0.3s ease;
  }
  
  .shipping-icon:hover i {
    transform: rotate(-90deg);
  }