/* Estilos generales */

main {
  min-height: calc(60vh - 40px); /* esto evita que el footer se pegue al contenido del main y genere un espacio en blanco sin ocupar*/
  padding-bottom: 60px;  /* esto evita que el contenido del main se superponga con el del footer, en caso de que main no tenga suficiente contenido*/
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;  /* para que el banner ocupe toda la pantalla, le puse un % mayor a 100% de ancho, y esto genera el efecto deseado pero tambien crea un espacio en blanco a la derecha de la pagina*/
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /* Estilos adicionales para titulares, precios, descuentos y descripciones */
h2.titulares {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }
  
  p.precios {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  
  p.descuentos {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #8eb89a;
    padding-left: 20px;
    white-space: nowrap;
  }

  p.descripciones {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }