/* Estilos generales para el formulario */
  
  /* Estilos para los campos del formulario */
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline;
    margin-right: 10px;
  }
  
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
    display: inline-block;
  }
  
  
  /* Estilos para los botones */
  button {
    padding: 8px 15px;
    background-color: #EAC926;
    color: #03264C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0022AA;
    color: #EAC926;
  }
  
  /* Estilos para el mensaje de error */
  #error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  