@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Estilos generales */
body {
  background-color: #EAC926;
  font-family: 'Roboto', sans-serif;
}

/* Estilos para el navbar */
nav {
  background-color: #EAC926;
}

nav a {
  color: #03264C;
}

nav a:hover {
  color: #1259c3;
}

/* Estilos para el login bar */
p.fa-hand-holding-dollar {
  color: #666;
  font-size: 16px;
}

/* Estilos para el search bar */
input[type="text"] {
  background-color: #ebebeb;
  color: #03264C;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 12px;
}

/* Estilos para el menu hamburguesa */
.burger-menu {
  background-color: #03264C;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  margin: 0 auto; 
}

.burger-menu .fa-bars {
  color: #ebebeb;
}

/* Estilos para el footer */
footer {
  background-color: #03264C;
  color: #ebebeb;
  padding: 20px;
  text-align: center;
}

footer section {
  margin-bottom: 20px;
}

footer h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer p {
  margin-bottom: 10px;
}

/* Estilos para los íconos en el footer */
footer i {
  font-size: 2em;
  margin-bottom: 10px;
}

/* Estilos adicionales para titulares, precios, descuentos y descripciones */
h2.titulares {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

p.precios {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

p.descuentos {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

p.descripciones {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
