<!DOCTYPE html>
<html>

<%- include('partials/head') %>
  
<%- include('partials/header') %>

<body>
  
  <main>
    <form action="/home" method="post">
      <div>
        <label for="nombre">Nombre y apellido:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>
      <div>
        <label for="nombreUsuario">Nombre de usuari@:</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" required>
      </div>
      <div>
        <label for="fechaNacimiento">Fecha de nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
      </div>
      <div>
        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" required>
      </div>
      <div>
        <label for="perfil">Perfil del usuario:</label>
        <input type="radio" id="comprar" name="perfil" value="comprar" required>
        <label for="comprar">Comprar</label>
        <input type="radio" id="vender" name="perfil" value="vender" required>
        <label for="vender">Vender</label>
      </div>
      <div>
        <label>Categorías de interés:</label>
        <input type="checkbox" id="electro" name="categorias" value="electro">
        <label for="electro">Electro</label>
        <input type="checkbox" id="moda" name="categorias" value="moda">
        <label for="moda">Moda</label>
        <input type="checkbox" id="hogar" name="categorias" value="hogar">
        <label for="hogar">Hogar</label>
        <input type="checkbox" id="jugueteria" name="categorias" value="jugueteria">
        <label for="jugueteria">Juguetería</label>
        <input type="checkbox" id="vidaSana" name="categorias" value="vidaSana">
        <label for="vidaSana">Vida Sana</label>
      </div>
      <div>
        <label for="fotoUsuario">Foto de usuario:</label>
        <input type="file" id="fotoUsuario" name="fotoUsuario" accept="image/*">
      </div>
      <div>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
      </div>
      <div>
        <label for="confirmarContrasena">Confirmar contraseña:</label>
        <input type="password" id="confirmarContrasena" name="confirmarContrasena" required>
      </div>
      <div>
        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>   
      </div>
    </form>
  </main>

</body>

<%- include('partials/footer') %>

</html>
